img {
    width: 200px;

}

h1{
    font-family: 'Roboto', sans-serif, serif;
    font-size: 50px;
    text-align: center;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

#itemWrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100wh;

    padding-bottom: 30px;
}

#header{
    background-color: #caccf7;
    width:100wh;
    margin-bottom: 20px;
    padding: 20px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0px;
}
